.catalogue
  section.splide(aria-labelledby='carousel-heading')
    .splide__track
      ul.splide__list
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/Legends_of_Summer_Glitter-removebg-preview.png" alt="")
            .content
              h2 Jordan 1 'LOS Glitter'
              .size
                h3 Size:
                span 8
                span 8.5
                span 9
                span 9.5
              .price
                h3 Price:
                span $20.000
              a(href='#') Buy Now
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/dior__1_-removebg-preview.png", alt="")
            .content
              h2 Jordan 1 'Dior'
              .size
                h3 Size:
                span 6
                span 8
                span 9
                span 9.5
              .price
                h3 Price:
                span $9.600
              a(href='#') Buy Now
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/Fragment-removebg-preview.png", alt="")
            .content
              h2 Jordan 1 'Fragment'
              .size
                h3 Size:
                span 6.5
                span 7
                span 8.5
                span 9
              .price
                h3 Price:
                span $6.300
              a(href='#') Buy Now
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/jordan1OffWhite-removebg-preview.png", alt="")
            .content
              h2 Jordan 1 'Offwhite'
              .size
                h3 Size:
                span 6
                span 7
                span 7.5
                span 9
              .price
                h3 Price:
                span $7.000
              a(href='#') Buy Now
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/Jordan5_TrophyRoom-removebg-preview.png", alt="")
            .content
              h2 Jordan 5 'Trophy Room'
              .size
                h3 Size:
                span 6.5
                span 7
                span 8
                span 8.5
              .price
                h3 Price:
                span $1.150
              a(href='#') Buy Now
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/KAWS-removebg-preview.png", alt="")
            .content
              h2 Jordan 4 'KAWS'
              .size
                h3 Size:
                span 6
                span 8
                span 8.5
                span 9.5
              .price
                h3 Price:
                span $4.500
              a(href='#') Buy Now
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/Oregon_Sample-removebg-preview.png", alt="")
            .content
              h2 Jordan 3 'Oregon'
              .size
                h3 Size:
                span 7
                span 7.5
                span 8
                span 9
              .price
                h3 Price:
                span $6.900
              a(href='#') Buy Now
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/RustPink-removebg-preview.png", alt="")
            .content
              h2 Jordan 1 'Rust Pink'
              .size
                h3 Size:
                span 6.5
                span 7.5
                span 8
                span 9
              .price
                h3 Price:
                span $6.000
              a(href='#') Buy Now
        li.splide__slide
          .card
            .card-img-block
              img.img(src="../../img/Travis_x_Fragment-removebg-preview.png", alt="")
            .content
              h2 Jordan 1 'Travis Fragment'
              .size
                h3 Size:
                span 6
                span 7
                span 8.5
                span 9
              .price
                h3 Price:
                span $2.600
              a(href='#') Buy Now
script(type="module" src="../js/catalogue.js") 
