.hall_Of_Frame_G
  .dropdown
    .noidung_dropdown
      .background
        .container
          .block
            .BigH1
              h3
                | Sneaker Of The Year
                .avatar-wrapper
                  .verified-avatar-icon &check;
            .Star
              span <i class="bi bi-star-fill"></i>
              p.word 5.0 
          .BigH2
            p Find out best sneaker of 2022
          .Picture
            .Pic
              img.img(src='../../img/LV.webp' alt='')
            .Pic
              img.img(src='../../img/NikeUn.jpg' alt='')
            .Pic
              img.img(src='../../img/J1GorgeTown.jpg' alt='')
  button.nut_dropdown Dropdown
script(type="module" src="../js/hall_of_frame.js") 

